@import url(fonts/clear-sans.css);
html, body, div{
    box-sizing: border-box;
    color: #000;
    font-family: "Clear Sans",​"Helvetica Neue",​Arial,​sans-serif;
    font-size: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

div#content{
    margin: 0 auto;
    width: 500px;
    padding-top: 50px;
}

div#head{
    display: block;
    clear: left;
    margin-bottom: 20px;
}

div#head div.headerItem,
div#content div#pauseView input#RestartBtn{
    width: 100px;
    height: 100px;
    float: left;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

div#head div.headerItem:nth-child(1){
    margin-left: 20px;
}

div#head div.headerItem:nth-child(2),
div#head div.headerItem:nth-child(3),
div#head div.headerItem:nth-child(4){
    margin-left: 20px;
}

div#head div.headerItem:nth-child(4){
    float:none;
    display: inline-block;
}

div#head div#scoreboard,
div#head div#highscore{
    text-align: right;
    font-size: 25px;
    padding-top: 20px;
    font-weight: bolder;
}

div#head div#nextBrick{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

div#head div#startButton input,
div#head div#startButton input.start{
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

div#head div#startButton input.pause{
    background-image: url(../img/pause.png);
}

div#playground, div#pauseView, div#startLevelScreen{
    border-style: solid;
    border-width: 5px;
    border-radius: 0px 0px 5px 5px;
    width: 460px;
    margin-left: 20px;
    border-top: none;
}

div#playground div.grid-row{
    clear: left;
}

div#playground div.grid-row div.grid-cell{
    border: none;
    height: 50px;
    width: 50px;
    float: left;
    padding: 0px;
}

div#playground div.clear{
    clear: left;
}

div#playground div.grid-cell div.item{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    font-weight: bold;
    border-radius: 5px;
}

div#content div#pauseView, div#startLevelScreen{
    height: 500px;
    display: none;
    border: solid 5px;
    border-radius: 5px;
}

div#content div#pauseView div#msg{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 50px;
}

div#content div#level_selection h3{
    font-size: 25px;
    margin: 0px;
}

div#content div#level_selection input{
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #bfae80;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border: none;
    font-weight: bolder;
}

div#content div#level_selection input.passed{
    color: #008000;
}

div#startLevelScreen div.leveldesc {
    text-align: center;
    padding: 5px;
}
div#startLevelScreen div.buttons{
    text-align: center;
    margin-top: 25px;
}
div#startLevelScreen input.levelButton{
    width: 100px;
    height: 25px;
    background-color: #bfae80;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}

div#startLevelScreen div.images{
    width: 250px;
    padding-top: 10px;
    height: 300px;
    margin-left: 100px;
    overflow: hidden;
}

div#startLevelScreen div.images img{
    max-width:100%;
    max-height:100%;
}

div#startLevelScreen div.images img.hidden{
    display: none;
}

div#startLevelScreen div.images div.imageButWrap{
    position: absolute;
    top: 350px;
}

div#startLevelScreen div.images div.imageButWrap.right{
    margin-left: 225px;
}

div#startLevelScreen div.images input.imageBut{
    font-size: 20px;
    border:none;
    background-color: transparent;
    font-weight: bold;
    width: 25px;
    height: 25px;
}

div#content div#pauseView input#RestartBtn{
    margin-left: 175px;
    margin-top: 75px;
    font-weight: bolder;
    font-size: 15px;
}

div#GameDescription{
    width: 450px;
    margin-left: 25px;
    color: #000;
}

div#GameDescription span.highlight{
    font-weight: bold;
}

div#GameDescription a{
    font-weight: bold;
    color: #000;
}

div#donate_div{
    text-align: center;
}

div#level_selection div.stage {
    text-align: center;
}

div#startLevelScreen{
    display: none;
}


div#playground, div#pauseView{
    border-color: #2B2B2B;
}

div#playground{
    border-color: #000;
}

div#playground div.grid-cell div.item.number.destroy,
div#playground div.grid-cell div.item.symbol.destroy,
div#content div#playground div.grid-cell div.item.equal.destroy{
    background-color: #8B0000;
}

div#content div#pauseView, div#startLevelScreen{
    background-color:  #8c6955;
}

div#head div#startButton input,
div#head div#startButton input.start,
div#head div.headerItem,
div#content div#pauseView input#RestartBtn{
    background-color: #bfae80;    
}

div#content div#playground div.grid-cell div.item.equal{
    background-color: #000;
    color: #fff;
}

div#playground div.grid-cell div.item.number{
    background-color: #75a3d1;
    line-height: 50px;
}

div#playground div.grid-cell div.item.symbol{
    background-color: #d9411e;
}

body{
    background-color: #f2edb3;
}

@media screen and (max-width: 500px) {
    html, body, div{
        font-size: 8px;
    }
    
    div#content{
        width: 300px;
        padding-top: 10px;
    }
    
    div#head {
        margin-bottom: 10px;
    }
    
    div#head div.headerItem,
    div#content div#pauseView input#RestartBtn{
        width: 50px;
        height: 50px;
    }
    
    div#playground, div#pauseView, div#startLevelScreen{
        width: 280px;
        margin-left: 10px;
    }
    
    div#playground div.grid-row div.grid-cell{
        height: 30px;
        width: 30px;
    }
    
    div#playground div.grid-cell div.item{
        font-size: 15px;
        line-height: 30px;
        border-radius: 5px;
    }
    
    div#content div#pauseView, div#startLevelScreen{
        height: 300px;
    }
    
    div#content div#pauseView div#msg{
        font-size: 20px;
        margin-top: 25px;
    }
    
    div#content div#level_selection h3{
        font-size: 15px;
    }
    
    div#content div#level_selection input{
        width: 15px;
        height: 15px;
        font-size: 8px;
    }

    div#startLevelScreen div.images{
        margin-left: 10px;
        height: 200px;
        text-align: center;
    }
    
    div#startLevelScreen div.images div.imageButWrap{
        top:225px;
    }
    
    div#startLevelScreen div.buttons{
        margin-top: 15px;
    }
    
    div#startLevelScreen input.levelButton{
        width: 70px;
        height: 15px;
        font-size: 10px;
    }
    
    div#content div#pauseView input#RestartBtn{
        margin-left: 110px;
        margin-top: 40px;
        font-size: 6px;
    }
    
    div#GameDescription{
        width: 300px;
        margin-left: 0px;
        color: #000;
    }
    
    div#head div#scoreboard,
    div#head div#highscore{
        font-size: 9px;
        padding-top: 2px;
    }
    
    div#head div#startButton input,
    div#head div#startButton input.start{
        font-size: 5px;
    }
    
    div#head div#nextBrick{
        font-size: 15px;
    }
    
    div#playground div.grid-cell div.item.number{
        line-height: 30px;
    }
}

div#levelPropertis{
    width: 300px;
    position: absolute;
}

div#symbolPanel input.brickValues{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    border-width: 5px;
    border-color: black;
    margin-top: 15px;
    margin-left: 7.5px;
    margin-right: 7.5px;
}

div#symbolPanel input.brickValues.selected{
    border-color: aqua;
}

div#symbolPanel input.brickValues.number{
    background-color: #75a3d1;
}

div#symbolPanel input.brickValues.symbol{
    background-color: #d9411e;  
}

div#symbolPanel input.brickValues.symbol.equal{
    background-color: #000;
    color: #fff;
}

input#Plane{
    width: 100px;
    height: 50px;
    background-color: #bfae80;
    float: left;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
    position: absolute;
    top: 550px;
    left: 900px;
}

div.upcommingElement{
    display: inline-block;
    border: solid 2px black;
    width: 20px;
    text-align: center;
}

div.wrapUpcomming,
div.wrapUpcomming div{
    display: inline-block;
    
}
div.wrapUpcomming{
    margin-right: 10px;
}